
.icon-plus-outline:before { content: '\e800'; } /* '' */
.icon-ok-outline:before { content: '\e801'; } /* '' */
.icon-tags:before { content: '\e802'; } /* '' */
.icon-cog-outline:before { content: '\e803'; } /* '' */
.icon-rewind-outline:before { content: '\e804'; } /* '' */
.icon-fast-fw-outline:before { content: '\e805'; } /* '' */
.icon-play-outline:before { content: '\e806'; } /* '' */
.icon-lightbulb:before { content: '\e807'; } /* '' */
.icon-doc-text:before { content: '\e808'; } /* '' */
.icon-puzzle-outline:before { content: '\e809'; } /* '' */